<div class="my-3 d-flex justify-content-between align-items-center">
  <h1>Notes</h1>
  <%= link_to "Create Note", new_notes_path, class: "btn btn-primary", "data-controller": "turbo" %>
</div>

<%= render "partials/alerts/success" %>